body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f9;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 40px auto;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.summary {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.card {
  padding: 15px;
  border-radius: 8px;
  width: 30%;
  text-align: center;
}

.income {
  background-color: #d4edda;
  color: #155724;
}

.expense {
  background-color: #f8d7da;
  color: #721c24;
}

.balance {
  background-color: #d1ecf1;
  color: #0c5460;
}

form {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

input, select, button {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
}

button:hover {
  background-color: #0056b3;
}

ul {
  margin-top: 20px;
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  background: #f8f9fa;
  margin-bottom: 8px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.delete-btn {
  background-color: #e53935;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
}

.delete-btn:hover {
  background-color: #c62828;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout-btn {
  background-color: #333;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: #555;
}


.nav-buttons {
  display: flex;
  gap: 15px;
}

* {
  box-sizing: border-box;
}